<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<style>
		a{
			text-decoration: none;
			color: inherit;
		}
		.is-active a{
			color: blue;
		}
	</style>
</head>
<body>
	<div id="app">
		<app-header></app-header>
		<input type="text" v-model="newTask" @keyup.enter="addTask()">
		<button @click="addTask()">Add</button>
		<div>
			<button @click="selectTab('all')"><a href="#">all</a></button>
			<button @click="selectTab('incomplete')"><a href="#">incomplete</a></button>
			<button @click="selectTab('completed')"><a href="#">completed</a></button>
		</div>

		<div v-for="item in tasks" v-show="'all' === activeTab">
			<task :task="item" @remove="remove($event)"></task>
		</div>
		<div v-for="item in incomplete" v-show="'incomplete' === activeTab">
			<task :task="item" @remove="remove($event)"></task>
		</div>
		<div v-for="item in completed" v-show="'completed' === activeTab">
			<task :task="item" @remove="remove($event)"></task>
		</div>
	</div>
	<script src="./main.js"></script>
</body>
</html>
