<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<style>
		a{
			text-decoration: none;
			color: inherit;
		}
		.is-active a{
			color: blue;
		}
	</style>
</head>
<body>
	<div id="app">
		<app-header></app-header>
		<input type="text" v-model="newTask" @keyup.enter="addTask()">
		<button @click="addTask()">Add</button>

		<tabs :tasks="tasks">
			<tab name="all" :selected="true">
				<div v-for="item in tasks">
					<task :task="item" @remove="remove($event)"></task>
				</div>
			</tab>
			<tab name="completed">
				<div v-for="item in completed">
					<task :task="item" @remove="remove($event)"></task>
				</div>
			</tab>
			<tab name="incomplete">
				<div v-for="item in incomplete">
					<task :task="item" @remove="remove($event)"></task>
				</div>
			</tab>
		</tabs>

	</div>
	<script src="app.js"></script>
</body>
</html>
