<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- style sheetを呼び出す -->
	<link rel="stylesheet" href="../../style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
	<h1>インプットの値を取得してみよう</h1>
<div id="app">
	<!-- inputタグにv-modelを書き足してください -->
	<div class="todo_form">
		<input class="todo_input" type="text" placeholder="タスクは何ですか？">
		<!-- <input class="todo_input" type="text" placeholder="タスクは何ですか？" v-model="newTask"> -->
	</div>
	<p>{{ newTask }}</p>
	<ul class="todo_list">
		<li class="todo_task" v-for="task in tasks">
			<button class="button_status" v-bind:class="{ 'is-completed' : task.completed }" v-on:click="toggleCompletion(task)">
				完了
			</button>
			{{ task.title }} | 完了: {{ task.completed }}
			<button class="button_remove" v-on:click="remove(task)">削除</button>
		</li>
	</ul>
</div>
<script src="app.js"></script>
</body>
</html>
