<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../style.css">
	<link rel="stylesheet" href="../lessons.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
<h1>条件分岐(2)</h1>
<textarea rows="30" cols="80">
<div id="app">
	<p v-if="false">ここは見れません</p>
	<!-- v-elseを加えv-if="false"の場合のみ出力してください -->
	<p>ここは見れます</p>
	<!-- v-else-if、v-elseを加え、条件100未満80以上の場合に表示してください -->
	<p v-if="score == 100">大変よくできました</p>

	<!-- answer -->
	<!--
	<p v-if="false">ここは見れません</p>
	<p v-else>ここは見れます</p>

	<p v-if="score == 100">大変よくできました</p>
	<p v-else-if="score >= 80">よくできました</p>
	<p v-else>頑張りましょう</p>
	-->
</div>
<script>
	const app = new Vue({
		el: '#app',
		data: {
			score: 83
		}
	})
</script>
</textarea>
</body>
</html>
