<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../../style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
	<h1>v-forでオブジェクトを出力してみよう</h1>
<div id="app">
	<ul class="todo_list">
		<!-- v-forを使ってtitleプロパティとcompletedプロパティを出力してください -->
		<li class="todo_task" v-for="task in tasks">{{ task }}</li>
		<!-- answer -->
		<!-- <li v-for="task in tasks">{{ task.title }}, {{ task.completed }}</li> -->
	</ul>
</div>
<script src="app.js"></script>
</body>
</html>
