<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../../style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<style>
		.todo_list{
			height: auto;
		}
		h2{
			margin-left: 25px;
		}
	</style>
</head>
<body>
	<h1>コンポーネントを作ってみよう</h1>
<div id="app">
	<header-component></header-component>
	<section>
		<div class="todo_form">
			<input class="todo_input" type="text" placeholder="タスクは何ですか？" v-model="newTask">
			<button class="todo_submit" @click="addTask">追加</button>
		</div>

		<div>
			<ul class="todo_tabs">
				<li><button v-on:click="selectTab('all')">全て</button></li>
				<li><button v-on:click="selectTab('completed')">完了</button></li>
				<li><button v-on:click="selectTab('incomplete')">未完了</button></li>
			</ul>
		</div>
		<!-- 作ったコンポーネントを複数回呼び出してください -->
		<!-- <task-component></task-component> -->
		<!-- <task-component></task-component> -->
		<!-- <task-component></task-component> -->

<!-- 		<ul class="todo_list" v-show="activeTab == 'all'">
			<li class="todo_task" v-for="task in tasks">
				<button class="button_status" v-bind:class="{ 'is-completed' : task.completed }" v-on:click="toggleCompletion(task)">
					完了
				</button>
				{{ task.title }}
				<button class="button_remove" v-on:click="remove(task)">削除</button>
			</li>
		</ul>

		<ul class="todo_list" v-show="activeTab == 'completed'">
			<li class="todo_task" v-for="task in completed">
				<button class="button_status" v-bind:class="{ 'is-completed' : task.completed }" v-on:click="toggleCompletion(task)">
					完了
				</button>
				{{ task.title }}
				<button class="button_remove" v-on:click="remove(task)">削除</button>
			</li>
		</ul>

		<ul class="todo_list" v-show="activeTab == 'incomplete'">
			<li class="todo_task" v-for="task in incomplete">
				<button class="button_status" v-bind:class="{ 'is-completed' : task.completed }" v-on:click="toggleCompletion(task)">
					完了
				</button>
				{{ task.title }}
				<button class="button_remove" v-on:click="remove(task)">削除</button>
			</li>
		</ul> -->
	</section>
</div>
<script src="app.js"></script>
</body>
</html>
