<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../../style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<style>
		.todo_list{
			height: auto;
		}
		h2{
			margin-left: 25px;
		}
	</style>
</head>
<body>
	<h1>コンポーネントでのイベントの扱い</h1>
<div id="app">
	<header-component></header-component>
	<section>
		<div class="todo_form">
			<input class="todo_input" type="text" placeholder="タスクは何ですか？" v-model="newTask">
			<button class="todo_submit" @click="addTask">追加</button>
		</div>

		<div>
			<ul class="todo_tabs">
				<li><button v-on:click="selectTab('all')">全て</button></li>
				<li><button v-on:click="selectTab('completed')">完了</button></li>
				<li><button v-on:click="selectTab('incomplete')">未完了</button></li>
			</ul>
		</div>

		<ul class="todo_list" v-show="activeTab == 'all'">
			<task-component v-for="item in tasks"
											:key="item.index"
											v-bind:task="item">
											<!-- toggleCompletionとremoveメソッドを呼び出してください -->
											<!-- @update-status="toggleCompletion(item)" -->
											<!-- @remove-task="remove(item)"> -->
			</task-component>
		</ul>

		<ul class="todo_list" v-show="activeTab == 'completed'">
			<task-component v-for="item in completed" :key="item.index" v-bind:task="item"></task-component>
		</ul>

		<ul class="todo_list" v-show="activeTab == 'incomplete'">
			<task-component v-for="item in incomplete" :key="item.index" v-bind:task="item"></task-component>
		</ul>
	</section>
</div>
<script src="app.js"></script>
</body>
</html>
